Apps/Blend/BlendTestApps/TestApp3/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleDataSource" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="Games" type="tns:Games" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Games">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="GamesItem" type="tns:GamesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GamesItem">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="2" name="Price" type="xs:double" />
    <xs:attribute blend:Format="Date" name="ReleaseDate" type="xs:string" />
    <xs:attribute name="CoverImage" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>